{% extends "../base.html" %}
{% block content %}


<h1>My Receipts</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for object in expensecategory %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.receipts.count }}</td>
            
        </tr>
        {% endfor %}    
    </tbody>
</table>


{% endblock %}