{% extends "../base.html" %}
{% block content %}


<h1>My Receipts</h1>
<table>
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
        {% for object in receiptlist %}
        <tr>
            <td>{{ object.vendor }}</td>
            <td>{{ object.total }}</td>
            <td>{{ object.tax }}</td>
            <td>{{ object.date }}</td>
            <td>{{ object.category }}</td>
            <td>{{ object.account }}</td>
        </tr>
        {% endfor %}    
    </tbody>
</table>


{% endblock %}